@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* font-family: 'Raleway', sans-serif; */

:root {
  /* ### Primary */
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  /* ### Neutral */
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html {
  font-family: "Raleway", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

/* logo */

.logo {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px;
  border-radius: 10px;
  border-top-right-radius: 110px;
  box-shadow: 2.5rem 8rem 8rem rgba(0, 0, 0, 0.3);
}

.logo>img {
  width: 140px;
}

.icon {
  display: flex;
  column-gap: 15px;
}

.icon a {
  background-color: var(--Very-Dark-Blue);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 1s;
}

a:hover {
  background-color: var(--Pale-Blue);
}

/* status */

.status {
  background-color: var(--Dark-Blue);
  color: var(--Pale-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 50px;
  border-radius: 10px;
  box-shadow: 2.5rem 8rem 8rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.status p {
  font-size: 0.9em;
}

.bar {
  width: 100%;
  margin: 15px 0 10px;
  padding: 3px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
}

.progress {
  background-image: linear-gradient( to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  padding: 2px;
  width: 73%;
  border-radius: 7px;
  animation: progressStatus 1s;
}

@keyframes progressStatus {
  0% {
    width: 0%
  }
  100% {
    width: 73%
  }
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: var(--Pale-Blue);
  margin-left: auto;
  border-radius: 50%;
}

.limit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.limit p {
  font-size: 0.8em;
  font-weight: 700;
}

/* info */

.info {
  background-color: white;
  padding: 10px 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  box-shadow: 2.5rem 8rem 8rem rgba(0, 0, 0, 0.3);
}

.info h1 {
  font-size: 2.5em;
  color: black;
}

.info p {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--Grayish-Blue);
  font-weight: 700;
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: var(--Grayish-Blue);
  text-decoration: none;
}

@media screen and (min-width: 375px) {
  body {
    background-color: var(--Very-Dark-Blue);
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  main {
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(./images/bg-desktop.png);
    background-size: 100vw 52.5vh;
    background-position: bottom;
  }
  main {
    max-width: unset;
    width: 64%;
    flex-direction: row;
    column-gap: 30px;
  }
  .logo {
    flex: 1.2;
  }
  .status {
    flex: 2;
    padding: 40px;
    align-items: flex-start;
    align-self: flex-end;
  }
  .info {
    top: -45px;
    align-self: flex-end;
    transform: unset;
    border-bottom-right-radius: unset;
  }
  .info::after {
    position: absolute;
    top: 100%;
    right: 0%;
    content: "";
    border: solid transparent;
    border-top-color: white;
    border-width: 20px;
    border-right: none;
  }
}