@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* font-family: 'Raleway', sans-serif; */

:root {
  /* ### Primary */
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  /* ### Neutral */
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html {
  font-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
}

main {
  margin: 120px auto;
  width: 88%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* logo */

.logo {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px;
  border-radius: 10px;
  border-top-right-radius: 110px;
}

.logo > img {
  width: 140px;
}

.icon {
  display: flex;
  column-gap: 15px;
}

.icon div {
  background-color: var(--Very-Dark-Blue);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* status */

.status {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  padding: 30px 30px 50px;
  color: var(--Pale-Blue);
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.status p {
  font-size: 0.9em;
}

.bar {
  width: 100%;
  height: 20px;
  margin: 15px 0 10px;
  background-color: gold;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress {
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  height: 14px;
  margin: 3px;
  border-radius: 7px;
  /* width: 73%; */
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: width 0.5s;
}

.progress:hover {
  width: 73%;
  cursor: pointer;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: var(--Pale-Blue);
  margin: 2px;
  border-radius: 50%;
}

.limit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.limit p {
  font-size: 0.8em;
  font-weight: 700;
}

/* info */

.info {
  width: fit-content;
  padding: 10px 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  position: absolute;
  margin-top: 93.5px;
}

.info h1 {
  font-size: 2.5em;
  color: black;
}

.info p {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--Grayish-Blue);
  font-weight: 700;
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  /* margin-bottom: 10px; */
}

.attribution a {
  color: var(--Grayish-Blue);
  text-decoration: none;
}

@media screen and (min-width: 375px) {
  body {
    min-height: 100vh;
    background-color: var(--Very-Dark-Blue);
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  main {
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(./images/bg-desktop.png);
    background-size: 100vw;
    background-position: bottom;
    display: flex;
    flex-direction: column;
  }

  main {
    max-width: unset;
    width: 64%;
    margin: auto;
    flex-direction: row;
    column-gap: 30px;
  }

  .logo {
    flex-basis: 30%;
  }

  .status {
    flex: 1;
    padding: 40px;
    height: fit-content;
    align-items: flex-start;
    align-self: flex-end;
  }

  .info {
    margin-top: -85px;
    align-self: flex-end;
    border-bottom-right-radius: unset;
  }

  .info::after {
    top: 100%;
    right: 0%;
    border: solid transparent;
    content: "";
    position: absolute;
    border-top-color: white;
    border-width: 20px;
    border-right: 0px;
  }
}
